<%-include('partials/header')%>

<!--
    I'm kinda proud of this; we can't manipulate the choosefile pseudo 
    with DOM so manipulate the HTML of an inline style; 
    ignore CSS conventions to manipulate the string easier
-->

<!--********************************************************-->

<div class="container">
    <h1 class="d-flex justify-content-center" style="color:<%=user[0].navColor%>;">Edit Index Page</h1>
</div>

<div class="main container-fluid index-page shadow rounded">

    <div class="index-images">

        <%-aboutMe[0].bannerContent %>

    </div>
        
    <form 
    onsubmit="return confirm('Warning: if you are submitting photos and rearranging banner items in this step, banner rearrangements will not persist on submit; if you want to persist banner rearrangements, cancel this submittal and undo the file upload by clicking Undo Upload button.')" 
    action="/aboutMeUpdate?_method=PUT"
        method="POST" 
        enctype="multipart/form-data"
        class="editing-form">

        <input type="color" id="true-color" name="trueColor" hidden>

        <!--Banner Content input-->
        <input id="banner-content" name="bannerContent" hidden>

        <!--Image Files From DB (i.e. no mod yet)-->
        <input type="number" name="bannerFileField" value="<%=aboutMe[0].fileAmount%>" hidden>
        <input type="number" name="aboutMeFileField" value="<%=aboutMe[0].aboutMeFiles%>" hidden>

        <!--Trash Can Icon-->
        <div id="trash-can" class="hidden"></div>

        <div class="row">

            <label for="banner-images">Upload Photos for Banner</label>
            <input id="banner-images" class="form-control-sm chooseFile" type="file" name="bannerImage" multiple>
        
        </div>

        <button id="undo-banner-upload" style="background-color:<%=user[0].navColor%>;">Undo Upload</button>

        <div class="row">

            <input id="date" type="text" name="newDate" hidden>

            <label for="content-images">Upload Photos for About Me</label>
            <input id="content-images" class="form-control-sm chooseFile" type="file" name="aboutMeImage" multiple>

        </div>

        <button id="undo-content-upload" style="background-color:<%=user[0].navColor%>;">Undo Upload</button>
    
        <div class="row justify-content-center">

            <label for="about-me-color">Select Color for About Me Background</label>
            
            <!--Default Value Rendered From DB-->
            <input id="about-me-color" type="color" name="aboutMeColor" value="<%=aboutMe[0].aboutMeColor%>">

            <label for="aboutMeUpdate">Edit About Me</label>
            <div contenteditable="true" id="editable" class="form-control content-editable" style="background-color:<%=aboutMe[0].aboutMeColor%>;"><%- aboutMe[0].content %></div>
            <textarea class="form-control hidden-textarea" name="aboutMeUpdate" hidden></textarea>
        
        </div>

        <button class="submit-edits" style="background-color:<%=user[0].navColor%>;">Submit Edits</button>

    </form>

    <!--Editing Tools/Hidden-->
    <div id="dropdown" class="hidden" contenteditable="false">
        <button id="resize-button" onclick="event.preventDefault()">Resize</button>
        <button id="move-button" onclick="event.preventDefault()">Move</button>
        <button id="delete-button" onclick="event.preventDefault()">Delete</button>
    </div>

    <div class="about-me-date container-fluid">
        <% if (aboutMe[0].uploadedAt != aboutMe[0].updatedDate) { %> 
            <span class="update">Home Page Last Updated On <%= timeConverter(aboutMe[0].updatedDate) %> </span>
        <% } %> 
    </div>

</div>

<!--Image + Editing Scripts-->
<script src="/js/aboutMe.js"></script>

<!--Color Editing-->
<script src="/js/luminance.js"></script>

<script src ="/js/dragndrop.js"></script>

<!--Photo Editing Scripts-->
<script src="/js/drag/drag.js"></script>

<%- include('partials/footer')%>