<%-include('partials/header') %> 

<div class="title container">
    <h1 class="d-flex justify-content-center">Gallery</h1>
</div>

<div class="main container">
    <div class="gallery">

        <% for (let i = 0; i < gallery.length; i++) { %> 
            <div class="gallery-item">
    
                <!--Each Image Has an onclick function built in gallery.js-->
                <img class="img-fluid gallery-image shadow rounded" 
                src="https://<%=bucket%>.s3.amazonaws.com/galleryImages/<%=gallery[i].uploadedAt%>/<%=gallery[i].name%>" 
                alt="<%= gallery[i].name %> "
                onclick="showImage(`https://<%=bucket%>.s3.amazonaws.com/galleryImages/<%=gallery[i].uploadedAt%>/<%=gallery[i].name%>%>`, `<%= gallery[i].caption %>`)"
                >
    
            </div>
        <% } %> 
    
    </div>
    
    <!--Full Screen Bootstrap Carousel-->
    <!--Carousel Markup-->
    <div id="galleryCarousel" class="carousel slide modal" data-bs-ride="carousel" onclick="shrinkImage()">
    
        <!--Carousel Indicators-->
        <ol class="carousel-indicators">
            <% for (let i = 0; i < gallery.length; i++) { %>
            <li data-bs-target="#galleryCarousel" data-bs-slide-to="<%= i %>"
                class="<%= i === 0 ? 'active' : '' %>"></li>
            <% } %>
        </ol>
    
        <!--Carousel Slides-->
        <div class="carousel-inner">
            <% for (let i = 0; i < gallery.length; i++) { %>
            <div class="carousel-item modal <%= i === 0 ? 'active' : '' %>">
                <img class="modal-content rounded" 
                src="https://<%=bucket%>.s3.amazonaws.com/galleryImages/<%=gallery[i].uploadedAt%>/<%=gallery[i].name%>"
                alt="<%= gallery[i].caption %>">
                <figcaption class="caption text-sm">
                    <%= gallery[i].caption %>
                </figcaption>
            </div>
            <% } %>
        </div>
    
        <!--Carousel Controls-->
        <a class="carousel-control-prev" href="#galleryCarousel" role="button" data-bs-slide="prev"
            onclick="event.stopPropagation()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#galleryCarousel" role="button" data-bs-slide="next"
            onclick="event.stopPropagation()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    
    </div>
</div>

<!--Image Scripts-->
<script src="/js/images.js"></script>
<script src="/js/gallery.js"></script>

<%- include('partials/footer') %> 